@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

section {
    max-width: 1320px;

    margin: 50px auto 120px;
}

/* section 1 */


.bannar {
    background: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(image/Banner.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    text-align: center;
    height: 600px;

}

.bannar div {
    padding: 180px 340px;
}

.bannar p {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.bannar h2 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* section 2 */

.off h2 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    text-align: center;
    margin-bottom: 48px;
}

.off :nth-child(2) {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
}

.off :nth-child(3) {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    margin-bottom: 48px;
}

.off div {
    text-align: center;
    margin-bottom: 120px;
}

/* section 3 */

.multy-bc {
    background: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(image/midnight.png);
    border-radius: 16px;
    background-repeat: no-repeat;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.text {
    width: 50%;
    padding-left: 125px;
}

.text h2 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 24px;
}

.text p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 24px;
}

.btn {
    background-color: #070211;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.image {
    padding-right: 105px;
}

/* section 4 */

.forth {
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    border-radius: 16px;
    max-width: 1320px;
    height: 600px;
    margin: 50px auto;
    padding-top: 100px;
    text-align: center;
}

.forth p {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.forth p>span {
    color: rgb(255, 0, 0);
}

.forth button {
    background: rgb(255, 0, 0);
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    padding: 16px 32px;
    margin-top: 48px;
}

/* section 5 */

.sect-5 {
    display: flex;
    gap: 80px;
    align-items: center;
    margin: 0px auto;
}

.sect-5-text :nth-child(1) {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 20px;
    width: 207px;
    margin-bottom: 16px;
}

.sect-5-text :nth-child(2) {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    width: 328px;
    margin-bottom: 22px;
}

.sect-5-text :nth-child(3) {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    height: 128px;
}

.sect-5-2-text :nth-child(1) {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    width: 126px;
    margin-bottom: 16px;
}

.sect-5-2-text :nth-child(2) {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-bottom: 43px;
}

.sect-5-pic {
    border-radius: 50%;
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    width: 463px;
    height: 463px;
    padding: 36px 36px;
}

/* section 7 */
section .sect-7 {
    height: 1163px;

}

.sect-7-text :first-child {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin-bottom: 16px;
}

.sect-7-text h3 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.sect-7-text :last-child {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.choice div {
    display: flex;
    padding: 10px;
    gap: 20px;
    transition: 1s;
}

.choice img:hover {
    transform: scale(1.1);
    z-index: 2;
}

/* sdection 8 */

.sect-8 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 80px 200px;
}

.sect-8-text h3 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
    margin: 46px 0px 22px 0px;
}

.sect-8-text p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.from {
    display: flex;
    justify-content: center;
}

form input {
    border-radius: 50px 0px 0px 50px;
    border: none;
    width: 430px;
    text-align: left;
    padding: 25px 30px;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

}

form button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    border: none;
    background: rgb(255, 0, 0);
    padding: 24px 56px;
}

/* section 9 */

.sect-9 {
    background: rgb(7, 2, 17);
    height: 600px;
}

.sect-9-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 120px 140px 50px;
}


.on-address {
    display: flex;
    align-items: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.foot-pic {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 50px;
}

.sect-9-botom-text {
    display: flex;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    padding: 50px 140px;
}