div.benar{
 background-image: url('Banner.png');padding: 100px 150px 200px;margin: 30px 50px;width: 680px;height: 150px;
 background-size: cover;
 border-radius: 20px;
 background-position: center;
 background-color: linear-gradient(180deg, #1d034d 0%,)

}
#header{ text-align: center;;font-size: 60px;margin-top: 0.2px; font-weight: 700;}