div {text-align: center;font-size: xx-large;padding: 50%;
 background-image: url('Banner.png');padding: 150px;margin: 30px 50px;width: 680px;height: 150px;
 background-size: cover;
 border-radius: 20px;
 background-position: center;
 

}